.container {
  font-family: var(--font-family);

  width: 100vw;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;

  pointer-events: none;

  .logo {
    position: relative;
    top: 0;
    left: 0;

    padding: 0;

    color: var(--text-color);
    font-size: 72px;
    font-weight: 800;

    height: 120px;

    .logo-img {
      height: 100%;
    }
  }

  .visible-library {
    width: 100vw;
    height: 100vh;

    .scroll-buttons {
      position: absolute;
      width: 100vw;
      height: 100vh;

      padding: 20px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      gap: 0;

      transition: all ease var(--transition-delay);

      .scroll-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transform: translateY(-100%);

        background-color: transparent;
        border: none;

        pointer-events: all;

        cursor: pointer;

        .bx {
          font-size: 72px;
          color: rgba(255, 255, 255, 0.224);
          padding: 0px;
          font-weight: 600;

          transition: all ease var(--transition-delay);
        }

        img {
          width: 72px;
          padding: 10px;
          opacity: 0.225;

          transition: all ease var(--transition-delay);
        }

        &:hover {
          .bx {
            color: var(--text-color);
            scale: 1.2;
          }

          img {
            opacity: 1;
            scale: 1.2;
          }
        }
      }
    }

    .planet-name {
      position: absolute;
      bottom: 80px;
      padding: 10px 20px;
      right: 50%;
      transform: translateX(50%);

      color: var(--text-color);
      font-size: 47px;
      font-weight: 800;

      letter-spacing: 2px;

      font-family: var(--font-family);

      transition: all ease var(--transition-delay);
    }

    .select-planet {
      position: absolute;
      right: 50%;
      transform: translate(50%, 0);

      top: 0px;

      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;

      font-size: 16px;
      font-weight: 600;

      color: rgba(255, 255, 255, 0.5);
    }

    &.inactive {
      .planet-name {
        transition: all ease var(--transition-delay);

        top: -100px;
      }

      .scroll-buttons {
        transition: all ease var(--transition-delay);

        gap: 100vw;
      }
    }
  }

  .visible-single {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    max-width: 700px;

    padding: 20px;

    background-color: /*#26242672*/ transparent;
    /*backdrop-filter: blur(5px);*/

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all ease var(--transition-delay);

    .wrapper {
      width: 100%;
      /*height: calc(100vh - 47px);*/
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: visible;
      gap: 20px;

      .wrapper-left {
        width: 3px;
        height: 100%;
        background-color: white;
      }
      .wrapper-right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 0;
        margin: 0;

        border-left: 2.75px solid var(--text-color);
        padding-left: 20px;
        padding-right: 100px;

        overflow: visible;

        .title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          font-size: 54px;
          font-weight: 800;
          letter-spacing: 2px;
          color: var(--text-color);
          padding: 0;
          margin: 0;

          margin-bottom: -15px;
          margin-top: -15px;

          overflow: visible;

          .back-button {
            overflow: visible;
            font-family: var(--font-family);

            pointer-events: all;
            border: none;

            color: white;

            font-size: 18px;
            font-weight: 500;

            cursor: pointer;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;

            margin: 1px;

            background-color: #14626a28;
            backdrop-filter: blur(10px);

            padding: 0px 20px;
            height: 40px;
            border-radius: var(--border-radius);

            transition: all ease var(--transition-delay);

            img {
              width: 14px;
            }

            &:hover {
              background-color: #14616a66;
              backdrop-filter: blur(10px);

              padding: 10px 20px;
              outline: 1px solid rgba(255, 255, 255, 0.8);
              border-radius: var(--border-radius);

              cursor: pointer;
            }
          }

          &.inactive {
            opacity: 0;
          }
        }
        .planet-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
          /*height: 100%;*/

          .desc {
            font-size: 18px;
            font-weight: 300;
            line-height: 26px;
            color: var(--text-color);
            padding-bottom: 40px;
          }

          .info-tabs-container {
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            gap: 10px;

            .info-tab {
              display: flex;
              flex-direction: row;
              width: calc(50% - 5px);

              background-color: #14626a28;
              /*background-color: #3a4d7b28;*/
              backdrop-filter: blur(10px);

              padding: 10px 20px;

              border-radius: var(--border-radius);
              justify-content: space-between;
              align-items: center;

              .info-subtitle {
                color: var(--text-color);
                font-size: 18px;
              }

              .info-text {
                color: var(--text-color);
                font-size: 18px;
                font-weight: 700;
              }
            }
          } /*border: 1px solid rgba(255, 255, 255, 0.5);*/

          .hotspots-tab {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;

            background-color: #14626a28;
            backdrop-filter: blur(10px);

            padding: 20px 20px;
            padding-top: 10px;

            border-radius: var(--border-radius);
            align-items: start;

            .info-subtitle {
              color: var(--text-color);
              font-size: 18px;
            }
            .hotspots-container {
              pointer-events: all;
              width: 100%;

              display: flex;
              flex-direction: row;
              justify-content: start;
              flex-wrap: wrap;
              gap: 10px;

              .hotspot-container {
                min-width: min-content;

                .hotspot-name {
                  font-size: 18px;
                  padding: 10px 20px;
                  font-weight: 700;

                  background-color: rgba(255, 255, 255, 0.064);
                  backdrop-filter: blur(10px);

                  padding: 10px 20px;
                  margin: 1px;

                  border-radius: var(--border-radius);

                  white-space: nowrap;
                  color: var(--text-color);

                  transition: all ease var(--transition-delay);

                  &:hover {
                    background-color: rgba(255, 255, 255, 0.164);
                    backdrop-filter: blur(10px);

                    padding: 10px 20px;
                    outline: 1px solid rgba(255, 255, 255, 0.8);
                    border-radius: var(--border-radius);

                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.inactive {
      right: -700px;
    }
  }

  .chat-container {
    position: absolute;

    width: 100vw;
    height: 100vh;

    top: 0;
    right: 0;

    .chat-form {
      position: absolute;

      bottom: 20px;
      right: 50%;
      transform: translateX(50%);
      background-color: transparent;
      width: calc(100% - 40px);
      max-width: 1024px;

      display: flex;
      flex-direction: row;
      align-items: center;

      gap: 20px;

      pointer-events: all;

      .chat-input {
        flex: 1;

        background-color: #14626a28;
        backdrop-filter: blur(10px);

        padding: 10px 20px;
        font-size: 18px;
        font-weight: 400;

        color: var(--text-color);

        border: none;
        border-radius: var(--border-radius);

        &:focus {
          outline: none;
        }
      }
      /*.chat-send {
        background-color: #14626a28;
        backdrop-filter: blur(10px);

        padding: 10px 20px;
        margin: 1px;
        border: none;
        border-radius: var(--border-radius);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        font-size: 18px;
        font-weight: 400;

        color: var(--text-color);

        img {
          height: 14px;
        }

        &:hover {
          outline: 1px solid var(--text-color);
          cursor: pointer;
        }
      }*/
      .chat-send {
        overflow: visible;
        font-family: var(--font-family);

        pointer-events: all;
        border: none;

        color: white;

        font-size: 18px;
        font-weight: 500;

        cursor: pointer;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        margin: 1px;

        background-color: #14626a28;
        backdrop-filter: blur(10px);

        padding: 0px 20px;
        height: 40px;
        border-radius: var(--border-radius);

        transition: all ease var(--transition-delay);

        img {
          width: 14px;
        }

        &:hover {
          background-color: #14616a66;
          backdrop-filter: blur(10px);

          padding: 10px 20px;
          outline: 1px solid rgba(255, 255, 255, 0.8);
          border-radius: var(--border-radius);

          cursor: pointer;
        }
      }
    }

    .show-full-chat {
      position: absolute;
      width: 100vw;
      height: 100vh;
      opacity: 1;
      transition: all ease var(--transition-delay);
      bottom: 0px;
      pointer-events: all;

      .x-button {
        position: absolute;

        top: 18px;
        right: 50%;
        transform: translateX(50%);
        width: calc(100% - 40px);
        max-width: 1024px;

        height: 60px;

        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);

        background-color: #14626a28;
        backdrop-filter: blur(10px);

        pointer-events: all;

        .bx {
          color: var(--text-color);
          font-size: 36px;
          padding: 20px;

          transition: all ease var(--transition-delay);

          &:hover {
            cursor: pointer;
            scale: 1.3;
          }
        }
      }

      .chat-full {
        position: absolute;

        bottom: 82px;
        right: 50%;
        transform: translateX(50%);
        width: calc(100% - 40px);
        max-width: 1024px;

        height: calc(100vh - 160px);

        background-color: #14626a28;
        backdrop-filter: blur(10px);
        padding: 20px;
        border-radius: var(--border-radius);
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        pointer-events: all;
        overflow-y: visible;

        .chat-panel {
          width: 100%;

          display: flex;
          flex-direction: column;
          justify-content: end;
          gap: 20px;

          pointer-events: all;

          .chat-message {
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: start;
            gap: 20px;

            width: 100%;

            flex: 1;

            .chat-message-profile {
              background-color: #14616abb;
              backdrop-filter: blur(20px);
              border-radius: 50px;
              padding: 10px;
              display: flex;
              justify-content: center;
              align-items: center;

              width: 60px;

              img {
                width: 100px;
              }
            }

            .chat-message-text {
              flex: 0.7;

              background-color: #14616abb;
              backdrop-filter: blur(20px);
              padding: 20px;
              border-radius: var(--border-radius);

              font-size: 18px;
              font-weight: 400;

              color: var(--text-color);
            }

            &.user {
              align-items: start;
              justify-content: end;
              .chat-message-profile {
                background-color: #15426abb;
              }

              .chat-message-text {
                background-color: #15426abb;
              }
            }
          }
        }
      }

      &.not-really {
        opacity: 0;
        bottom: -100px;
        pointer-events: none;

        .x-button {
          pointer-events: none;
        }

        .chat-full {
          pointer-events: none;

          .chat-panel {
            pointer-events: none;
          }
        }
      }
    }
  }
}
